<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat');
    </style>
</head>

<body class="main-body" style=" font-family: 'Montserrat', sans-serif;
text-align: center;
background: whitesmoke;
width: 100%;
max-width: 600px;
min-width: 320px;
margin: 0 auto;
color: black;">
<table style="padding: 60px 0;    width: 100%;">
    <tr>
        <td>
            <a href="#" style="cursor: default !important;">
                <img src="https://s3.amazonaws.com/spa-stage-users/c78c41ab-1594-4413-8be4-06071d376477.png"
                     style="width: 180px;">
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <table style="background: #fff;padding: 25px;text-align: center;margin: 40px auto;border-radius: 4px;">
                <tr>
                    <td>
                        <p style="margin: 0px;padding-bottom: 15px;">
                            Hi,
                        </p>
                        <h2 style="margin: 0px;padding-bottom: 15px;">
                            Welcome to DoCity
                        </h2>
                        <p style="padding: 0px;margin: 0px;padding-bottom: 10px;">We're pleased to invite you into our
                            team at
                            <a style="color: #8bbdc5">DoCity
                            </a>
                        </p>
                        <p style="margin:0px;">One last step, click the button below to <br> reset your account
                            password.
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{redirectUrl}}"
               style="text-decoration: none;margin-top:15px;padding: 15px 50px;border: none;border-radius: 35px;background: #d97d55;color: #fff; font-size: 14px; margin-top: 15px;font-weight: bold;">RESET</a>
        </td>
    </tr>
</table>
</body>

</html>
