<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat');
    </style>
</head>

<body class="main-body" style=" font-family: 'Montserrat', sans-serif;
text-align: center;
width: 100%;
margin: 0 auto;
color: black;background: #fafafa;">

<div style=" width: 300px; border-radius: 4px;box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);background-color: #ffffff;padding:80px 25px;position: absolute;top: 50%;left: 50%;
    transform: translate(-50%,-50%);">
 <img src="rectangle.png" style="width: 40px;">
  <h4 style=" font-family: Montserrat;font-size: 18px; font-weight: 500;color:#242a3a;text-transform:uppercase;">Payment Processing</h4>
 <p style="font-size: 14px;color: #9b9b9b;">Your payment is being precessed, please 
<span style="color: #242a3a;">do not refresh</span> the page.</p>



</div>
</body>
</html>